* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Markazi';
    src: url('Markazi.ttf');
}
@font-face {
    font-family: 'Karla';
    src: url('Karla.ttf');
}
body, html {margin: 0;}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   
    
    
}
nav {
    grid-column: 1 / span 12;
    display: flex;
    justify-content: space-between;
    margin: 15px 100px;
}

nav > img {
    height: 50px;
    margin-bottom: 40px;
}

nav > ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;

    
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Karla';
    font-size: 16pt;
    font-weight: 500;
}
main {
    grid-column: 1 / span 12;
}

header {
    grid-column: 1 / span 12;
    display: flex;
    background-color: #495E57;
    align-items: center;
    justify-content: center;

}
@media (max-width: 700px) {
  header {
    flex-direction: column;
    
  }
}

footer {
    grid-template-columns: auto 1fr 1fr;
    display: grid;
    grid-column: 1 / -1;
    background-color: #EDEFEE;
    font-family: 'Karla';
    /* padding: 50px 0;
    justify-content: center; */
    font-size: 16pt;
    gap: 32px;
    
}
@media (max-width: 700px) {
  footer {
    grid-template-columns: 1fr;
    align-items: center;
    padding: 2rem;
    
  }
}

.specials-mid
 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem auto;  
    max-width: 100vh;
    
}
@media (max-width: 700px) {
  .specials-mid {
    grid-template-columns: 1fr
  }
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 700px) {
  .reviews {
    grid-template-columns: 1fr
  }
}
.specials-top {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto; 
    max-width: 1000px;
    width: 90%;   
}

.review {
    background-color: #EDEFEE;
    max-width: 25vh;
    border-radius: 16px;
    padding: 10px 25px;

}

.testimonials {
    background-color: #495E57;
    

    padding: 100px 100px;
}

.special {
    border-radius: 16px;
    background-color: #EDEFEE;
    margin: 10px 20px;
    overflow: hidden;
}
.special  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Markazi';
    font-size: 18pt;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin: auto 2vh;

    
}

.title {
    font-family: 'Markazi';
}

.title h1 {
    color: #F4CE14;
    font-size: 40pt;
    font-weight: 400;
    margin-bottom: 0;
}
.title h3 {
    color: white;
    font-size: xx-large;
    font-weight: 400;
    margin-top: 0;
} 
.specials-top > h2{
    font-family: 'Markazi';
    font-size: 30pt;
    margin-left: 20px;
}
.specials-top > a {
    background-color: #F4CE14;
    font-family: 'Karla';
    padding: 16px 40px;
    border-radius: 8px;       
    text-align: center;
    margin: 0 20px;
    font-weight: bold;
              
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    justify-self: center; 
    align-self: center;
}

header  img {
    
    height: 500px;
    width: 400px;

    
}

.banner {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px 200px;
}

.banner p {
    color: white;
    font-family: 'Karla';
    font-size: large;
}

.banner a {
    background-color: #F4CE14;
    font-family: 'Karla';
    padding: 10px 40px;
    border-radius: 8px;       
    text-align: center;
    
    font-weight: bold;
              
    
    border: none;
    cursor: pointer;
    justify-self: center; 
    align-self: center;
}

.about-title {
    font-family: 'Markazi';
}
.about-title h1 {
    font-size: 40pt;
    font-weight: 400;
    margin-bottom: 0;
    color: #F4CE14
}

.about-title h3 {
    color: #495E57;
    font-size: xx-large;
    font-weight: 400;
    margin-top: -20px;
}

.about {
    margin: 80px auto;
    display: flex;
    gap: 50px;
    max-width: 1200px;
    
}

.about-pics {
    position: relative;
    width: 320px;
    height: 340px;
    min-width: 320px;
}

.about-pics img {
    position: absolute;
    width: 200px;
    height: 220px;
    background: #ccc;
    border: 1px solid #222;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    box-shadow: #222 10px 10px 15px 5px;

}

.back {
    left: 0;
    top: 40px;
    z-index: 1;
}

.front {
    left: 80px;
    top: 0;
    z-index: 2;
}

.about-text p {
    font-family: 'Karla';
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #222;

}

.titlefooter {
    color: #495E57;
    font-weight: bold;
    margin-bottom: 1rem;
}